<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andy.user.service.BonusPlanMapper">
  <resultMap id="BaseResultMap" type="com.andy.user.model.BonusPlan">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="stockCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="publishDate" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="year" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="baseAmount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="give" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="increase" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="interest" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="recordDate" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="divideDate" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bonusDate" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="lasttime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, stockCode, publishDate, year, baseAmount, give, increase, interest, recordDate, 
    divideDate, bonusDate, createtime, lasttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ts_bonusplan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ts_bonusplan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.andy.user.model.BonusPlan">
    insert into ts_bonusplan (id, stockCode, publishDate, 
      year, baseAmount, give, 
      increase, interest, recordDate, 
      divideDate, bonusDate, createtime, 
      lasttime)
    values (#{id,jdbcType=INTEGER}, #{stockcode,jdbcType=INTEGER}, #{publishdate,jdbcType=INTEGER}, 
      #{year,jdbcType=INTEGER}, #{baseamount,jdbcType=INTEGER}, #{give,jdbcType=INTEGER}, 
      #{increase,jdbcType=INTEGER}, #{interest,jdbcType=DECIMAL}, #{recorddate,jdbcType=INTEGER}, 
      #{dividedate,jdbcType=INTEGER}, #{bonusdate,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lasttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.andy.user.model.BonusPlan">
    insert into ts_bonusplan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stockcode != null">
        stockCode,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="baseamount != null">
        baseAmount,
      </if>
      <if test="give != null">
        give,
      </if>
      <if test="increase != null">
        increase,
      </if>
      <if test="interest != null">
        interest,
      </if>
      <if test="recorddate != null">
        recordDate,
      </if>
      <if test="dividedate != null">
        divideDate,
      </if>
      <if test="bonusdate != null">
        bonusDate,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="lasttime != null">
        lasttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockcode != null">
        #{stockcode,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="baseamount != null">
        #{baseamount,jdbcType=INTEGER},
      </if>
      <if test="give != null">
        #{give,jdbcType=INTEGER},
      </if>
      <if test="increase != null">
        #{increase,jdbcType=INTEGER},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=DECIMAL},
      </if>
      <if test="recorddate != null">
        #{recorddate,jdbcType=INTEGER},
      </if>
      <if test="dividedate != null">
        #{dividedate,jdbcType=INTEGER},
      </if>
      <if test="bonusdate != null">
        #{bonusdate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null">
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.andy.user.model.BonusPlan">
    update ts_bonusplan
    <set>
      <if test="stockcode != null">
        stockCode = #{stockcode,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="baseamount != null">
        baseAmount = #{baseamount,jdbcType=INTEGER},
      </if>
      <if test="give != null">
        give = #{give,jdbcType=INTEGER},
      </if>
      <if test="increase != null">
        increase = #{increase,jdbcType=INTEGER},
      </if>
      <if test="interest != null">
        interest = #{interest,jdbcType=DECIMAL},
      </if>
      <if test="recorddate != null">
        recordDate = #{recorddate,jdbcType=INTEGER},
      </if>
      <if test="dividedate != null">
        divideDate = #{dividedate,jdbcType=INTEGER},
      </if>
      <if test="bonusdate != null">
        bonusDate = #{bonusdate,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lasttime != null">
        lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.andy.user.model.BonusPlan">
    update ts_bonusplan
    set stockCode = #{stockcode,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER},
      baseAmount = #{baseamount,jdbcType=INTEGER},
      give = #{give,jdbcType=INTEGER},
      increase = #{increase,jdbcType=INTEGER},
      interest = #{interest,jdbcType=DECIMAL},
      recordDate = #{recorddate,jdbcType=INTEGER},
      divideDate = #{dividedate,jdbcType=INTEGER},
      bonusDate = #{bonusdate,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      lasttime = #{lasttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>